.partners {
  padding-bottom: 8rem;

  &__heading-box {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__slider-box {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__slider {
    width: 90%;
    min-height: 7rem;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(sm) {
      min-height: 4.5rem;
      height: 10rem;
    }
  }

  &__slide {
    position: absolute;
    top: 0;
    left: -1%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;

    @include breakpoint(xl) {
      width: 24%;
    }

    @include breakpoint(lg) {
      width: auto;
    }

    @include breakpoint(sm) {
      width: 86%;
      left: 5%;
    }
  }

  &__img {
    width: 100%;
    min-height: 5rem;
    margin-left: 6rem;

    @include breakpoint(md) {
      margin-left: 7rem;
    }
    @include breakpoint(sm) {
      margin-left: 0;
    }
  }

  &__slider-btn {
    z-index: 10;
    border: none;
    background: $color-white;
    font-family: inherit;
    color: #333;
    height: 5rem;
    width: 5rem;
    font-size: 3.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    @include breakpoint(sm) {
      height: 10rem;
      width: 3rem;
    }
  }

  &__svg {
    height: 3.5rem;
    width: 3.5rem;
    fill: $color-gray-light-2;
  }
}
