$color-white: #fff;
$color-black: #000;
$color-gray: #696969;
$color-red: #e80000;
$color-gray-light-1: #a1a1a1;
$color-gray-light-2: #cccccc;
$color-gray-light-3: #acacac;
$color-gray-dark: #6f6d6b;
$color-cyan: #2382cd;
$color-cyan-light: #009fe3;
$color-cyan-light-1: #189dd8;
$color-cyan-dark: #016a96;
$color-orange: #ed7500;
$color-green: #5d9e00;
$color-earls-green: #c1c12c;
$color-nero: #252525;
$color-nero-light: #333333;

$ff-sans: "Lato", sans-serif;
